/* Reset default styles */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* Full-page background */
body{
    background: #222;
}

/* Weather Card */
.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

/* Search Box */
.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.search input{
    width: 70%;
    padding: 10px 25px;
    border: none;
    outline: none;
    background: #edfffc;
    color: #555;
    height: 60px;
    margin-right: 16px;
    border-radius: 30px;
    font-size: 18px;
}
.search button {
    background: #fff;
    border: none;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img {
    width: 16px;
    height: 20px;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
    

}

.weather h1{
    font-size: 80px;
    font-weight: 500;

}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
    
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0, 20px;
    margin-top: 50px ;
    
}
.col{
    display: flex;
    align-items: center;
    text-align: left;

}
.col img{
    width: 40px;
    margin-right: 10px;
    height: 40px;
    image-resolution: 20%;
}
.humidity .Wind{

    font-size: 28px;
    margin-top: -6px;
}
.img{
    width: 20px;
    height: 20px;
}
